body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color:  #5242b9 !important;
    height : 50px;
    width: 75%;
    margin-left: 12.5%;
    z-index: 500;


position : fixed;

    
  }

  .top {

 
    background-size: cover;
    background-position: 0% 65%;
    
    height : 200px;
      width: 75%;
      margin-left: 12.5%;
    
    


  }

  .co {

    width : 75%;
    height: 30px;
    background-color : #c8c9fc; 
    
   margin-left: 12.5%;
    position : fixed;
    z-index: 1000;

    


  }

  .co button {
    
    height: 30px;
    width : 100px;
    font-size: 15px;
    line-height: 15px;
    margin-right: 20px;
    background-color: rgba(255, 255,255, 0);
    padding: 0;
    border: none;
    background: none;
    font-weight:bold;
    float:right;

  }

  .co a {
    
    height: 30px;
    width : 100px;
    font-size: 18px;
    line-height: 30px;
    margin-right: 20px;
    background-color: rgba(255, 255,255, 0);
    padding: 0;
    border: none;
    background: none;
    font-weight:bold;
    float:right;


  }

  body {

background-image: url(Des_Images/image.jpg); 




  }

  .back {

background-color: rgba(255, 255,255, 0.60);
width: 75%;
height: 2000px;

padding-top: 50px;
margin:auto;



  }
  
  .topnav a {
    float: left;
    
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    height : 50px;
    width: 200px;
    vertical-align: middle;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
    height : 50px;
  }
  
  .topnav a.active {
    background-color :  rgba(255, 255,255, 0)  !important;
    
    
    color : white !important;
   
    height : 50px;
   
    text-align: center;
   
    width : 250px;
    font-size: 20px;
    line-height: 25px;
    font-weight:bold;
    
    
  }

  .topnav-right a {
    height : 50px;
    width : 200px;
    color : black !important;
    font-size: 20px;
    line-height: 25px;
    background-color: rgba(255, 255,255, 0.7) ;


  }

  .topnav-right button {
    height : 50px;
    width : 200px;
    font-size: 20px;
    line-height: 25px;


  }


  .topnav-right a:hover {
    background-image: url(Des_Images/main.jpg); 
    background-size: cover;
    background-position: 50% 50%;
    color : transparent  !important;
    


  }

 
  
  .slide1,.slide2,.slide3,.slide4,.slide5 {
    
    z-index : 101;
    position: fixed;
    

    background-size: cover;
    background-position: 0% 65%;
    
height : 200px;
width: 75%;
margin:auto;
    
  }
  .slide1 {
    background: url(Des_Images/curl.png)no-repeat center 60%;
    
        background-size: cover;
        animation:fade 20s infinite;
  
  
  } 
  .slide2 {
    background: url(Des_Images/2.jpg)no-repeat center;
        background-size: cover;
        animation:fade2 20s infinite;
  
  }
  .slide3 {
      background: url(Des_Images/1.jpg)no-repeat center;
        background-size: cover;
        animation:fade3 20s infinite;
  
  
  
  }
  @keyframes fade
  {
    0%   {opacity:1 }
    33.333% { opacity: 0 }
    66.666% { opacity: 0 ;background-position : center 50%}
    81.666%, 100% { opacity: 1 ;background-position : center 60%}
  }
  @keyframes fade2
  {
    0%   {opacity:0 ;background-position : center 50%}
    15% ,33.333% { opacity: 1;background-position : center 45%}
    66.666% { opacity: 0 }
    100% { opacity: 0}
  }
  @keyframes fade3
  {
    0%   {opacity:0}
    33.333% { opacity: 0; background-position : center;}
    48.333% ,66.666% { opacity: 1 ;background-position : center 40%}
    100% { opacity: 0}
  }

  a:link{
    color:black;
  }
  
  a:visited{
    color:black;
  }
  
  .articlvl1{
  
    position : absolute;
    margin-left : 100px;
    
    width : 400px;
    height : 250px;
    overflow: hidden; 
    
  
  }

  .temp{
  
    height: 100%;
     width: 100%;
     background-size: cover;
     background-position: center;
     transition: all 0.5s ease;
     
  
}

.articlvl1:hover .temp
{
     transform: scale(1.1);
}

.bandeauarticlvl1{
  
  position : absolute;
  
  width : 400px;
  height : 100px;
  top : 150px;
  background-color: rgba(217, 217, 217, 0.7);
  
  z-index : 80;
  
  
}

.fontitlearticlvl1{
  
  font-size:18px;
  margin-left:10px;
  
  height : 20px;
  
  top :0px;
  
}

.fontextarticlvl1{
  
  font-size:15px;
  margin-left:10px;
  
  z-index : 80;
  height : 20px;
  
  
  top :0px;
  
}





  h2 {

    text-align: center;
    width: 100%;
    height : 70px;
    vertical-align: center;
    font-size: 50px  !important;


  }

  p {

    text-align: center;
    width: 100%;
    height: 100px;
    font-size: 25px;


  }